<div class="container">
  <div class="header">
    <div class="col-md-9 header-left">
      <div class="top-nav">
        <ul class="memenu skyblue">
          <li class="active"><%= link_to "Home", root_path, data: {turbolinks: false} %></li>
          <% Category.roots.each do |category| %>
            <% cache category do %>
              <li class="grid">
              <%= link_to category.title, "/category/#{category.id}", data: {turbolinks: false}%>
                <% if category.children.present? %>
                  <div class="mepanel">
                    <div class="row">
                      <div class="col1 me-one">
                        <%= render 'include/menu/menu', category: category, cached: true %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3 header-right">
      <div class="search-bar">
        <!--<form action="/search" method="get" autocomplete="off">
          <input  id="categories-basic" name="q" type="text" placeholder="Search..." data-behavior="autocomlete">   
          <input type="submit" value="">         
        </form>-->
        <%= form_with url: search_index_path, local: true, method: :get, html: { autocomplete: "off", class: "form-inline my-2 my-lg-0" } do |form| %>
          <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete"}, class: "form-control mr-sm-2"%>
          <%= form.button "Search", class: "btn btn-outline-dark my-2 my-sm-0" %>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>