<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags title: @page_title, description: @page_description, keywords: @page_keywords %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  </head>

  <body>
    <!--top header-->
    <%= render 'include/main/top_header' %>
    <!--top header-->

    <!--start logo -->
    <div class="logo">
      <%= link_to root_path do %>
      <h1> Luxury Watches</h1>
      <% end %>
    </div>
    <!--start logo -->

    <!--bottom-header-->
    <%= render 'include/main/bottom_header' %>
    <!--bottom-header-->


    <div class='content'>
      <%= yield %>
    </div>

    <!--footer-->
    <%= render 'include/main/footer' %>
    <!--footer-->

  
  </body>
</html>
