<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags title: @page_title, description: @page_description, keywords: @page_keywords %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  </head>

  <body>
    <!--start logo -->
    <div class="logo">
      <%= link_to root_path do %>
      <h1> Luxury Watches</h1>
      <% end %>
    </div>
    <!--start logo -->


    <div class='content'>
      <%= yield %>
    </div>

      
  </body>
</html>
